body {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 18px;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    padding: 30px;
}
h1, h2, h3, h4, h5, h6 {
    Font-Family: 'Raleway', Sans-Serif;
}
